*{
    margin: 0px;
    padding: 0px;
}
body
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Logo-Vienna-Distribution
{
    position: absolute;
    top: 40px;
    left: 867px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#Welcome-Text
{
    position: absolute;
    top: 242px;
    left: 649px;
    width: 620px;
    height: 63px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 24px/32px Futura PT;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    opacity: 1;
}

