*{
    margin: 0px;
    padding: 0px;
}
body
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Logo-Vienna-Distribution
{
    position: absolute;
    top: 40px;
    left: 867px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#Welcome-Text
{
    position: absolute;
    top: 242px;
    left: 649px;
    width: 620px;
    height: 63px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 24px/32px Futura PT;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    opacity: 1;
}
.Born-Text
{
    position: absolute;
    top: 423px;
    left: 768px;
    width: 385px;
    height: 41px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 32px/43px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.Rectangle30
{
    position: absolute;
    top: 464px;
    left: 945px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Container-Input
{
    position: absolute;
    top: 506px;
    left: 651px;
    width: 186px;
    height: 94px;
    opacity: 1;
    z-index: 1;
}
.Day-Input
{
    top: 506px;
    left: 681px;
    width: 71px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    margin: 0px 25px;
}
.White-Border-Input-Day
{
    top: 530px;
    left: 651px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin: 4px 0px;
}
input[type=number]
{
    top: 549px;
    left: 681px;
    width: 128px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 19px 18px 18px 30px;
    background: transparent;
    z-index: 1;
}
.Color-Input
{
    top: 540px;
    left: 661px;
    width: 176px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
    margin: 14px -15px;
}
.Container-Input:hover .Color-Input
{
    display: none;
}
.Container-Input-Month
{
    position: absolute;
    top: 506px;
    left: 867px;
    width: 186px;
    height: 94px;
    opacity: 1;
    border: 1px solid red;

}
.Month-Input
{
    top: 506px;
    left: 897px;
    width: 106px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    margin: 0px 25px;
}
.Border-Month
{
    top: 530px;
    left: 867px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin: 4px 0px;
}
.Color-Month-Input
{
    top: 540px;
    left: 877px;
    width: 176px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
    margin: 14px -15px;
}
input[type=number-month]
{
    top: 549px;
    left: 897px;
    width: 128px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 19px 18px 18px 30px;

}

#Button1
{
    position: absolute;
    top: 660px;
    left: 810px;
    width: 302px;
    height: 50px;
    background: var(--unnamed-color-d94016) 0% 0% no-repeat padding-box;
    background: #D94016 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
}
#Text-Button
{
    top: 675px;
    left: 840px;
    width: 242px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.Group53
{
    position: absolute;
    top: 908px;
    left: 897px;
    width: 126px;
    height: 32px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.Facebook-Social-Media
{
    top: 908px;
    left: 897px;
    width: 34px;
    height: 34px;
    background: transparent url('PhotoIndex/Facebook.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Instagram-Social-Media
{
    top: 908px;
    left: 944px;
    width: 34px;
    height: 34px;
    background: transparent url('PhotoIndex/Instagram.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-Social-Media
{
    top: 908px;
    left: 991px;
    width: 34px;
    height: 34px;
    background: transparent url('PhotoIndex/Twitter.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.cookie-bar
{
    position: absolute;
    top: 970px;
    left: 489px;
    width: 942px;
    height: 100px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
.cookie-bar-border
{
    top: 980px;
    left: 499px;
    width: 922px;
    height: 80px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    opacity: 1; 
    margin: 10px 10px;
}