*{
    margin: 0px;
    padding: 0px;
}
body{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 3420px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group62
{
    position: absolute;
    top: 170px;
    left: 654px;
    width: 613px;
    height: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid rgb(116, 115, 115);
    border-top: none;
    border-left: none;
    border-right: none;
}
.Group62 a{
    text-decoration: none;
    white-space: nowrap;
}
#AllLi
{
    top: 170px;
    left: 654px;
    width: 19px;
    height: 23px;
    /* UI Properties */
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    text-transform: uppercase;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#Rectangle12
{
    position: absolute;
    top: 200px;
    left: 654px;
    width: 19px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}
/*@keyframes*/
#BaijuLi
{
    top: 170px;
    left: 725px;
    width: 35px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#BaijuLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 36px;
    margin-left:-18px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#BaijuLi:hover::after,
#BaijuLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#RumLi
{
    top: 170px;
    left: 805px;
    width: 29px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#RumLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 30px;
    margin-left:-15px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#RumLi:hover::after,
#RumLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#WhiskeyLi
{
    top: 170px;
    left: 879px;
    width: 59px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#WhiskeyLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    margin-left: -30px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#WhiskeyLi:hover::after,
#WhiskeyLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#GinLi
{
    top: 170px;
    left: 983px;
    width: 26px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#GinLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 28px;
    margin-left: -10px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#GinLi:hover::after,
#GinLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#VodkaLi
{
    top: 170px;
    left: 1054px;
    width: 45px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#VodkaLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 45px;
    margin-left: -20px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#VodkaLi:hover::after,
#VodkaLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#LiquarLi
{
    top: 170px;
    left: 1144px;
    width: 43px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#LiquarLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 45px;
    margin-left: -20px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#LiquarLi:hover::after,
#LiquarLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BitterLi
{
    top: 170px;
    left: 1232px;
    width: 35px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#BitterLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 35px;
    margin-left: -17px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#BitterLi:hover::after,
#BitterLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.Rectangle-Grid
{
    position: absolute;
    top: 275px;
    left: 327px;
    width: 1267px;
    height: 2481px;
    opacity: 1;
    border: 1px solid yellow;
}