*{
    margin: 0px;
    padding: 0px;
}
body{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 3420px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group62
{
    position: absolute;
    top: 170px;
    left: 654px;
    width: 613px;
    height: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid rgb(116, 115, 115);
    border-top: none;
    border-left: none;
    border-right: none;
}
.Group62 a{
    text-decoration: none;
    white-space: nowrap;
}
#AllLi
{
    top: 170px;
    left: 654px;
    width: 19px;
    height: 23px;
    /* UI Properties */
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    text-transform: uppercase;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#Rectangle12
{
    position: absolute;
    top: 200px;
    left: 654px;
    width: 19px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}
/*@keyframes*/
#BaijuLi
{
    top: 170px;
    left: 725px;
    width: 35px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#BaijuLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 36px;
    margin-left:-18px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#BaijuLi:hover::after,
#BaijuLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#RumLi
{
    top: 170px;
    left: 805px;
    width: 29px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#RumLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 30px;
    margin-left:-15px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#RumLi:hover::after,
#RumLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#WhiskeyLi
{
    top: 170px;
    left: 879px;
    width: 59px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#WhiskeyLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    margin-left: -30px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#WhiskeyLi:hover::after,
#WhiskeyLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#GinLi
{
    top: 170px;
    left: 983px;
    width: 26px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#GinLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 28px;
    margin-left: -10px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#GinLi:hover::after,
#GinLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#VodkaLi
{
    top: 170px;
    left: 1054px;
    width: 45px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#VodkaLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 45px;
    margin-left: -20px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#VodkaLi:hover::after,
#VodkaLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#LiquarLi
{
    top: 170px;
    left: 1144px;
    width: 43px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#LiquarLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 45px;
    margin-left: -20px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#LiquarLi:hover::after,
#LiquarLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BitterLi
{
    top: 170px;
    left: 1232px;
    width: 35px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#BitterLi::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 35px;
    margin-left: -17px;
    bottom: -2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
#BitterLi:hover::after,
#BitterLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.Rectangle-Grid
{
    position: absolute;
    top: 275px;
    left: 327px;
    width: 1267px;
    height: 2481px;
    opacity: 1;

}
.Group64Crystal
{
    position: absolute;
    top: 274px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.CrystalHeadPhoto
{
    top: 274px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/e8e21bdd9b0b9c4f9852ae139309eaec.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.CrystalHeadText
{
    top: 474px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.CrystalHeadBottomText
{
    top: 502px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;

}
.Group64Tom
{
    position: absolute;
    top: 274px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.TomFinlandPhoto
{
    top: 274px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/0cd93331c98fb35a5b95430aa52d39b3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.TomFinlandText
{
    top: 474px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.TomFinlandBottomText
{
    top: 502px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Moutai
{
    position: absolute;
    top: 274px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.MoutaiPhoto
{
    top: 274px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/4a8af38bb503b34cb526d489c8401466.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.MoutaiText
{
    top: 474px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.MoutaiBottomText
{
    top: 502px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Sonnema
{
    position: absolute;
    top: 274px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.SonnemaPhoto
{
    top: 274px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/87bd60a5f550e92294556b7f48bd5c6f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.SonnemaText
{
    top: 474px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.SonnemaBottomText
{
    top: 502px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1; 
}
#SonnemaTxt
{
   margin:-3.3px;
}
.Group64Rise
{
    position: absolute;
    top: 639px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.RisePhoto
{
    top: 639px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/0d348e5f90a6018197dca8e87992f00c.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.RiseText
{
    top: 839px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.RiseBottomText
{
    top: 867px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Bentianna
{
    position: absolute;
    top: 639px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.BentiannaPhoto
{
    top: 639px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/be71f4d18da9c780327db8fcffa4dfe7.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin:0px 25px 25px 25px;
}
.BentiannaText
{
    top: 839px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;

}
.BentiannaBottomText
{
    top: 867px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Akkeshi
{
    position: absolute;
    top: 639px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.AkkeshiPhoto
{
    top: 639px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/61138df5c9cab59fab77d7aa68ad4d15.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin:0px 25px 25px 25px;
}
.AkkeshiText
{
    top: 839px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin:-28px 0px 0px 0px;
}
.AkkeshiBottomText
{
    top: 867px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Deadman
{
    position: absolute;
    top: 639px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.DeadmanPhoto
{
    top: 639px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/0cd779c3d2146ee3a96a57470b52ee82.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.DeadmanText
{
    top: 839px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.DeadmanBottomText
{
    top: 867px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 12.2px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Chichibu
{
    position: absolute;
    top: 1004px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
 
}
.ChichibuPhoto
{
    top: 1004px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/1e482381fef7e9091f7cc17c76593781.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.ChichibuText
{
    top: 1204px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.ChichibuBottomText
{
    top: 1232px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 12.4px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Bobby
{
    position: absolute;
    top: 1004px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
   
}
.BobbyPhoto
{
    top: 1004px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/37b7d7499c4d3be9a15cea9c58b80b5e.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.BobbyText
{
    top: 1204px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.BobbyBoottomText
{
    top: 1232px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 12.6px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Duppy
{
    position: absolute;
    top: 1004px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;
  
}
.DuppyPhoto
{
    top: 1004px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/7ea69226646a8d2677c3bd11ffc537b7.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.DuppyText
{
    top: 1204px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.DuppyBottomText
{
    top: 1232px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Crabbie
{
    position: absolute;
    top: 1004px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.CrabbiePhoto
{
    top: 1004px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/aef5513f8ddd9e18e51e85f7b86da274.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.CrabbieText
{
    top: 1204px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.CrabbieBottomText
{
    top: 1232px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Professore
{
    position: absolute;
    top: 1369px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
   
}
.ProfessorePhoto
{
    top: 1369px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/1322c138fc0668bf5b97d5ca7d6dfaae.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.ProfessoreText
{
    top: 1569px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.ProfessoreBottomText
{
    top: 1597px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Edradour
{
    position: absolute;
    top: 1369px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
   
}
.EdradourPhoto
{
    top: 1369px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/8ef0f6219a424f68d70bf5b8831f31b6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.EdradourText
{
    top: 1569px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.EdradourBottomText
{
    top: 1597px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Ron
{
    position: absolute;
    top: 1369px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.RonPhoto
{
    top: 1369px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/5cb41dac2864e2af35952dfae7f01ae9.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.RonText
{
    top: 1569px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.RonBottomText
{
    top: 1597px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Kavalan
{
    position: absolute;
    top: 1369px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.KavalanPhoto
{
    top: 1369px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/8fe5afad66847d015ed2701a35b0f462.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.KavalanText
{
    top: 1569px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.KavalanBottomText
{
    top: 1597px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Peaky
{
    position: absolute;
    top: 1734px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.PeakyPhoto
{
    top: 1734px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/4647235bbd51f64c94c261ac82733623.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.PeakyText
{
    top: 1934px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.PeakyBottomText
{
    top: 1962px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Portobello
{
    position: absolute;
    top: 1734px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.PortobelloPhoto
{
    top: 1734px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/12f028f3589426dc2c6a4b2a6558982c.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.PortobelloText
{
    top: 1934px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.PortobelloBottomText
{
    top: 1962px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Scapegrace
{
    position: absolute;
    top: 1734px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;  
}
.ScapegracePhoto
{
    top: 1734px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/f6d7c69747d858e20bef2fa2e772ab13.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.ScapegraceText
{
    top: 1934px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.ScpegraceBottomText
{
    top: 1962px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Mars
{
    position: absolute;
    top: 1734px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
   
}
.MarsPhoto
{
    top: 1734px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/040dfca0cacd9422e995d9bde761f1c6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.MarsText
{
    top: 1934px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.MarsBottomText
{
    top: 1962px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Silent
{
    position: absolute;
    top: 2099px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
   
}
.SilentPhoto
{
    top: 2099px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/da43f9e8b2a56d4841de4207fe43cf4f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.SilentText
{
    top: 2299px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.SilentBottomText
{
    top: 2327px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Signal
{
    position: absolute;
    top: 2099px;
    left: 666px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.SignalPhoto
{
    top: 2099px;
    left: 691px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/8907b3329f72020cd4a18ee7a5fc6b97.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.SignalText
{
    top: 2299px;
    left: 666px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.SignalBottomText
{
    top: 2327px;
    left: 666px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Tarquin
{
    position: absolute;
    top: 2099px;
    left: 1005px;
    width: 250px;
    height: 260px;
    opacity: 1;
    
}
.TarquinPhoto
{
    top: 2099px;
    left: 1030px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/c7be2ff72d8b2ff0a5df6da2f859cf75.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.TarquinText
{
    top: 2299px;
    left: 1005px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.TarquinBottomText
{
    top: 2327px;
    left: 1005px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Whitley
{
    position: absolute;
    top: 2099px;
    left: 1344px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.WhitleyPhoto
{
    top: 2099px;
    left: 1369px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/c0c1c0f132a9145051a906508298ef5e.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.WhitleyText
{
    top: 2299px;
    left: 1344px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.WhitleyBottomText
{
    top: 2327px;
    left: 1344px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 13px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.Group64Starward
{
    position: absolute;
    top: 2464px;
    left: 327px;
    width: 250px;
    height: 260px;
    opacity: 1;
}
.StarwardPhoto
{
    top: 2464px;
    left: 352px;
    width: 200px;
    height: 200px;
    background: transparent url('BrandWeWork/98dcca13836a767357a4fd73e8fd4b92.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 25px 25px 25px;
}
.StarwardText
{
    top: 2664px;
    left: 327px;
    width: 250px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal medium 18px/70px Futura PT;
    letter-spacing: 1.8px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin: -28px 0px 0px 0px;
}
.StarwardBottomText
{
    top: 2692px;
    left: 327px;
    width: 250px;
    height: 32px;
    color: var(--unnamed-color-ababab);
    text-align: center;
    font: normal normal normal 12.5px/15px Futura PT;
    letter-spacing: -0.13px;
    color: #ABABAB;
    opacity: 1;
}
.FooterPath50
{
    position: absolute;
    top: 3023px;
    left: 0px;
    width: 1920px;
    height: 397px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #54B3A1;
}
.Logo-vienna-distribution
{
    position: absolute;
    top: 3155px;
    left: 327px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group54Left
{
    position: absolute;
    top: 3174px;
    left: 759px;
    width: 190px;
    height: 125px;
    opacity: 1;
    line-height: 35px;
    list-style-type: none;
}
.Group54Left a
{
    top: 3174px;
    left: 759px;
    width: 46px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}