*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2750px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-category-selection
{
    position: absolute;
    top: 170px;
    left: 889px;
    width: 148px;
    height: 30px;
    opacity: 1;
    border:1px solid gray;
    border-top:none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.nav-menu-item
{
    top: 170px;
    left: 889px;
    width: 132px;
    height: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-menu-item a
{
    top: 170px;
    left: 897px;
    width: 34px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s ease;
}
#BrandsHover
{
    color: #54B3A1;

}
#Rectangle12
{
    top: 200px;
    left: 654px;
    width: 50px;
    height: 3px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
    margin-top: 6px;
    margin-left: 10x;
}
#PressHover:hover
{
    color: #54B3A1;
}
#PressHover::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 40px;
    margin-left:-15px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
    margin-top: 6px;
    z-index: 1;
}
#PressHover:hover::after,
#PressHover:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.brands-filter
{
    position: absolute;
    top: 241px;
    left: 316px;
    width: 1381px;
    height: 95px;
    opacity: 1;
    display:inline-flex;
    justify-content: space-between;
    white-space: nowrap;
}
.brands-filter:hover
{ 
    top: 241px;
    left: 316px;
    width: 1381px;
    height: 95px;
    box-sizing: border-box;
}

.next-prev
{
    top: 272px;
    left: 300px;
    width: 14px;
    height: 16px;
    background: transparent url('Brands/Path\ 55-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    margin-top: 35px;
}
.next-prev:hover
{
    top: 272px;
    left: 300px;
    width: 14px;
    height: 16px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: transparent url('Brands/Path\ 55-1.png') 0% 0% no-repeat padding-box;
    filter: invert(69%) sepia(62%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(87%);
    opacity: 1;
}
.CrystalPhoto
{
    top: 241px;
    left: 327px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.CrystalText
{
    top: 319px;
    left: 316px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    margin-top: 80px;
    margin-left: -10px;
}
.TomPhoto
{
    top: 241px;
    left: 435px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.TomText
{
    top: 319px;
    left: 424px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.MoutaiPhoto
{
    top: 241px;
    left: 543px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.MoutaiText
{
    top: 319px;
    left: 532px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.SonemaPhoto
{
    top: 241px;
    left: 651px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.SonemaText
{
    top: 319px;
    left: 640px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.RiisePhoto
{
    top: 241px;
    left: 759px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-4.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.RiiseText
{
    top: 319px;
    left: 748px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.BentiannaPhoto
{
    top: 241px;
    left: 867px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BentiannaText
{
    top: 319px;
    left: 856px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.AkkeshiPhoto
{
    top: 241px;
    left: 975px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.AkkeshiText
{
    top: 319px;
    left: 964px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.DeadmanPhoto
{
    top: 241px;
    left: 1083px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-7.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DeadmanText
{
    top: 319px;
    left: 1072px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.ChichibaPhoto
{
    top: 241px;
    left: 1191px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ChichibaText
{
    top: 319px;
    left: 1180px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.BobbyPhoto
{
    top: 241px;
    left: 1299px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-9.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BobbyText
{
    top: 319px;
    left: 1288px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.DuppyPhoto
{
    top: 241px;
    left: 1407px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-10.png') 0% 0% no-repeat padding-box;
    opacity: 1;
       
}
.DuppyText
{
    top: 319px;
    left: 1396px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.CarbbiePhoto
{
    top: 241px;
    left: 1515px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.CarbieText
{
    top: 319px;
    left: 1504px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;

}
.next-prev-1
{
    top: 319px;
    left: 1504px;
    width: 14px;
    height: 16px;
    background: transparent url('Brands/Path\ 55.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    margin-top: 35px;
}
.next-prev-1:hover
{
    top: 319px;
    left: 1504px;
    width: 14px;
    height: 16px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: transparent url('Brands/Path\ 55.png') 0% 0% no-repeat padding-box;
    filter: invert(69%) sepia(62%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(87%);
    opacity: 1;
}