*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2750px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-category-selection
{
    position: absolute;
    top: 170px;
    left: 889px;
    width: 148px;
    height: 30px;
    opacity: 1;
    border:1px solid gray;
    border-top:none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.nav-menu-item
{
    top: 170px;
    left: 889px;
    width: 132px;
    height: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-menu-item a
{
    top: 170px;
    left: 897px;
    width: 34px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s ease;
}
#BrandsHover
{
    color: #54B3A1;

}
#Rectangle12
{
    top: 200px;
    left: 654px;
    width: 50px;
    height: 3px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
    margin-top: 6px;
    margin-left: 10x;
}
#PressHover:hover
{
    color: #54B3A1;
}
#PressHover::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 40px;
    margin-left:-15px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
    margin-top: 6px;
    z-index: 1;
}
#PressHover:hover::after,
#PressHover:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.brands-filter
{
    position: absolute;
    top: 241px;
    left: 316px;
    width: 1381px;
    height: 95px;
    opacity: 1;
    display:inline-flex;
    justify-content: space-between;
    white-space: nowrap;
}
.brands-filter:hover
{ 
    top: 241px;
    left: 316px;
    width: 1381px;
    height: 95px;
    box-sizing: border-box;
}

.next-prev
{
    top: 272px;
    left: 300px;
    width: 14px;
    height: 16px;
    background: transparent url('Brands/Path\ 55-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    margin-top: 35px;
}
.next-prev:hover
{
    top: 272px;
    left: 300px;
    width: 14px;
    height: 16px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: transparent url('Brands/Path\ 55-1.png') 0% 0% no-repeat padding-box;
    filter: invert(69%) sepia(62%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(87%);
    opacity: 1;
}
.CrystalPhoto
{
    top: 241px;
    left: 327px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.CrystalText
{
    top: 319px;
    left: 316px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    margin-top: 80px;
    margin-left: -10px;
}
.TomPhoto
{
    top: 241px;
    left: 435px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.TomText
{
    top: 319px;
    left: 424px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.MoutaiPhoto
{
    top: 241px;
    left: 543px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.MoutaiText
{
    top: 319px;
    left: 532px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.SonemaPhoto
{
    top: 241px;
    left: 651px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.SonemaText
{
    top: 319px;
    left: 640px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.RiisePhoto
{
    top: 241px;
    left: 759px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-4.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.RiiseText
{
    top: 319px;
    left: 748px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.BentiannaPhoto
{
    top: 241px;
    left: 867px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BentiannaText
{
    top: 319px;
    left: 856px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.AkkeshiPhoto
{
    top: 241px;
    left: 975px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.AkkeshiText
{
    top: 319px;
    left: 964px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.DeadmanPhoto
{
    top: 241px;
    left: 1083px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-7.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DeadmanText
{
    top: 319px;
    left: 1072px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.ChichibaPhoto
{
    top: 241px;
    left: 1191px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ChichibaText
{
    top: 319px;
    left: 1180px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.BobbyPhoto
{
    top: 241px;
    left: 1299px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-9.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BobbyText
{
    top: 319px;
    left: 1288px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.DuppyPhoto
{
    top: 241px;
    left: 1407px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-10.png') 0% 0% no-repeat padding-box;
    opacity: 1;
       
}
.DuppyText
{
    top: 319px;
    left: 1396px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;
}
.CarbbiePhoto
{
    top: 241px;
    left: 1515px;
    width: 78px;
    height: 78px;
    background: transparent url('Brands/e8e21bdd9b0b9c4f9852ae139309eaec-11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.CarbieText
{
    top: 319px;
    left: 1504px;
    width: 100px;
    height: 17px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 13px/13px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 80px;
    margin-left: -10px;

}
.next-prev-1
{
    top: 319px;
    left: 1504px;
    width: 14px;
    height: 16px;
    background: transparent url('Brands/Path\ 55.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    margin-top: 35px;
}
.next-prev-1:hover
{
    top: 319px;
    left: 1504px;
    width: 14px;
    height: 16px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: transparent url('Brands/Path\ 55.png') 0% 0% no-repeat padding-box;
    filter: invert(69%) sepia(62%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(87%);
    opacity: 1;
}
.Group86Main
{
    position: absolute;
    top: 405px;
    left: 327px;
    width: 1266px;
    height: 4066px;
    opacity: 1;
}
.gallery-picture-1
{
    position: absolute;
    top: 405px;
    left: 327px;
    width: 402px;
    height: 272px;
    background: transparent url('BrandGallery/91a0de0ea14d672cff42ed9294950971.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1;
}
.gallery-picture-1:hover
{
    top: 405px;
    left: 327px;
    width: 402px;
    height: 272px;
    mix-blend-mode:normal;
    background: transparent url('BrandGallery/91a0de0ea14d672cff42ed9294950971.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-arrow-1
{
    top: 633px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group\ 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);   
    opacity: 1;
    margin:5px 10px;
    z-index: 1;  
}
.Rectangle89-1
{
    top: 626px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    z-index: 0;
    margin: 220px 350px;
}
.gallery-picture-1:hover .Rectangle89-1
{
    opacity: 1;
}
.gallery-picture-2
{
    position: absolute;
    top: 405px;
    left: 759px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/ad9c7e55388608d74f668beec0191d67.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-2:hover
{
    top: 405px;
    left: 759px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/ad9c7e55388608d74f668beec0191d67.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle89-2
{
    top: 964px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-2
{
    top: 971px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin: 5px 10px;
    opacity: 1;
}
.gallery-picture-2:hover .Rectangle89-2
{
    opacity: 1;
}
.gallery-picture-3
{
    position: absolute;
    top: 405px;
    left: 1191px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/59325d9adb0649358d392f372a22b54f.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-3:hover
{
    top: 405px;
    left: 1191px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/59325d9adb0649358d392f372a22b54f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-3
{
    top: 964px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-3
{
    top: 971px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    opacity: 1;
    margin: 5px 10px;
}
.gallery-picture-3:hover .Rectangle-3
{
    opacity: 1;
}
.gallery-picture-4
{
    position: absolute;
    top: 707px;
    left: 327px;
    width: 402px;
    height: 601px;
    background: transparent url('BrandGallery/e557794b67f1764caa0614c85d860171.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-4:hover
{
    top: 707px;
    left: 327px;
    width: 402px;
    height: 601px;
    background: transparent url('BrandGallery/e557794b67f1764caa0614c85d860171.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
}
.Rectangle-4
{
    top: 1257px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-4
{
    top: 1264px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 5px 10px;
}
.gallery-picture-4:hover .Rectangle-4
{
    opacity: 1;
}
.gallery-picture-5
{
    position: absolute;
    top: 1045px;
    left: 759px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/e42e123964e0b47daa7fb00f173cecb8.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-5:hover
{
    top: 1045px;
    left: 759px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/e42e123964e0b47daa7fb00f173cecb8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-5
{
    top: 1257px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-5
{
    top: 1264px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin: 5px 10px;
    opacity: 1;
}
.gallery-picture-5:hover .Rectangle-5
{
    opacity: 1;
}
.gallery-picture-6
{
    position: absolute;
    top: 1045px;
    left: 1191px;
    width: 402px;
    height: 420px;
    background: transparent url('BrandGallery/493c17b7974cdd460537b39e1d890cc8.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-6:hover{
    top: 1045px;
    left: 1191px;
    width: 402px;
    height: 420px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/493c17b7974cdd460537b39e1d890cc8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-6
{
    top: 1414px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 360px 350px;
}
.gallery-picture-arrow-6
{
    top: 1421px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin:5px 10px;
    opacity: 1;
}
.gallery-picture-6:hover .Rectangle-6
{
    opacity: 1;
}
.gallery-picture-7
{
    position: absolute;
    top: 1338px;
    left: 327px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/2a76d2975e21c695e4b6348f4b6abd8a.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-7:hover
{
    top: 1338px;
    left: 327px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/2a76d2975e21c695e4b6348f4b6abd8a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-7
{
    top: 1550px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-7
{
    top: 1557px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-7:hover .Rectangle-7
{
    opacity: 1;
}
.gallery-picture-8
{
    position: absolute;
    top: 1338px;
    left: 759px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/7cf77c35d00cf3735750d4400da93c2a.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-8:hover
{
    top: 1338px;
    left: 759px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/7cf77c35d00cf3735750d4400da93c2a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-8
{
    top: 1550px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-8
{
    top: 1557px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-8:hover .Rectangle-8
{
    opacity: 1;
}
.gallery-picture-9
{
    position: absolute;
    top: 1495px;
    left: 1191px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/a8b767dce4699f13da8af26c3d18b298.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-9:hover
{
    top: 1495px;
    left: 1191px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/a8b767dce4699f13da8af26c3d18b298.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-9
{
    top: 2054px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-9
{
    top: 2061px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-9:hover .Rectangle-9
{
    opacity: 1;
}
.gallery-picture-10
{
    position: absolute;
    top: 1631px;
    left: 327px;
    width: 402px;
    height: 605px;
    background: transparent url('BrandGallery/98f2959beb3a4d8365054822d27907a1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-10:hover
{
    top: 1631px;
    left: 327px;
    width: 402px;
    height: 605px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/98f2959beb3a4d8365054822d27907a1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-10
{
    top: 2185px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-10
{
    top: 2192px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    margin: 5px 10px;
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-10:hover .Rectangle-10
{
    opacity: 1;
}
.gallery-picture-11
{
    position: absolute;
    top: 1631px;
    left: 759px;
    width: 402px;
    height: 503px;
    background: transparent url('BrandGallery/ece3b0ffa252f8b19cd566c3794fbd76.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-11:hover{
    top: 1631px;
    left: 759px;
    width: 402px;
    height: 503px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/ece3b0ffa252f8b19cd566c3794fbd76.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-11
{
    top: 2083px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 450px 350px;
}
.gallery-picture-arrow-11
{
    top: 2090px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin:5px 10px;
    opacity: 1;
}
.gallery-picture-11:hover .Rectangle-11
{
    opacity: 1;
}
.gallery-picture-12
{
    position: absolute;
    top: 2266px;
    left: 327px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/4c9391df250bfd3321bef644dca4ab85.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-12:hover
{
    top: 2266px;
    left: 327px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/4c9391df250bfd3321bef644dca4ab85.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-12
{
    top: 2817px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-12
{
    top: 2824px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin:5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-12:hover .Rectangle-12
{
    opacity: 1;
}
.gallery-picture-13
{
    position: absolute;
    top: 2164px;
    left: 759px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/79c2fc0f85d771a05ab9e21624cc3cee.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-13:hover
{
    top: 2164px;
    left: 759px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/79c2fc0f85d771a05ab9e21624cc3cee.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-13
{
    top: 2715px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-13
{
    top: 2722px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin:5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-13:hover .Rectangle-13
{
    opacity: 1;
}
.gallery-picture-14
{
    position: absolute;
    top: 2135px;
    left: 1191px;
    width: 402px;
    height: 394px;
    background: transparent url('BrandGallery/25eb77c76127478fd0fd1fa806a4fc48.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-14:hover
{
    top: 2135px;
    left: 1191px;
    width: 402px;
    height: 394px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/25eb77c76127478fd0fd1fa806a4fc48.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-14
{
    top: 2478px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 340px 350px;
}
.gallery-picture-arrow-14
{
    top: 2485px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-14:hover .Rectangle-14
{
    opacity: 1;
}
.gallery-picture-15
{
    position: absolute;
    top: 2898px;
    left: 327px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/661c356a953d492cd8bc36d41d18806b.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-15:hover
{
    top: 2898px;
    left: 327px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/661c356a953d492cd8bc36d41d18806b.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-15
{
    top: 3449px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-15
{
    top: 3456px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-15:hover .Rectangle-15
{
    opacity: 1;
}
.gallery-picture-16
{
    position: absolute;
    top: 2796px;
    left: 759px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/06cb75ac3d664a4a802648d42e2ed3b5.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-16:hover
{
    top: 2796px;
    left: 759px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/06cb75ac3d664a4a802648d42e2ed3b5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-16
{
    top: 3008px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 200px 350px;
}
.gallery-picture-arrow-16
{
    top: 3015px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-16:hover .Rectangle-16
{
    opacity: 1;
}
.gallery-picture-17
{
    position: absolute;
    top: 2559px;
    left: 1191px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/54df2b2ed4770c9b917cadb888d942d3.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-17:hover
{
    top: 2559px;
    left: 1191px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/54df2b2ed4770c9b917cadb888d942d3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-17
{
    top: 2771px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-17
{
    top: 2778px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-17:hover .Rectangle-17
{
    opacity: 1;
}
.gallery-picture-18
{
    position: absolute;
    top: 2852px;
    left: 1191px;
    width: 402px;
    height: 503px;
    background: transparent url('BrandGallery/23ea4c27b0d509a1abed24b38ba5cb80.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-18:hover
{
    top: 2852px;
    left: 1191px;
    width: 402px;
    height: 503px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/23ea4c27b0d509a1abed24b38ba5cb80.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-18
{
    top: 3304px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 450px 350px;
}
.gallery-picture-arrow-18
{
    top: 3311px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    margin: 5px 10px;
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-18:hover .Rectangle-18
{
    opacity: 1;
}
.gallery-picture-19
{
    position: absolute;
    top: 3089px;
    left: 759px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/5b6afa721836953aa3d74ba2ef49fd2f.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-19:hover
{
    top: 3089px;
    left: 759px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/5b6afa721836953aa3d74ba2ef49fd2f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-19
{
    top: 3640px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-19
{
    top: 3647px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    margin:5px 10px;
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-19:hover .Rectangle-19
{
    opacity: 1;
}
.gallery-picture-20
{
    position: absolute;
    top: 3530px;
    left: 327px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/f5b74d045e349fd82311f44ab9c2e135.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-20:hover
{
    top: 3530px;
    left: 327px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/f5b74d045e349fd82311f44ab9c2e135.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-20
{
    top: 3742px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-20
{
    top: 3749px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin:5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-20:hover .Rectangle-20
{
    opacity: 1;
}
.gallery-picture-21
{
    position: absolute;
    top: 3385px;
    left: 1191px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/e8b232f15bca4bde686af79b9b95d370.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-21:hover
{
    top: 3385px;
    left: 1191px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/e8b232f15bca4bde686af79b9b95d370.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-21
{
    top: 3890px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-21
{
    top: 3897px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-21:hover .Rectangle-21
{
    opacity: 1;
}
.gallery-picture-22
{
    position: absolute;
    top: 3823px;
    left: 327px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/2072457cbd0e00c1d5e0778c19425efc.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-22:hover
{
    top: 3823px;
    left: 327px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/2072457cbd0e00c1d5e0778c19425efc.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-22
{
    top: 4374px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-22
{
    top: 4381px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-22:hover .Rectangle-22
{
    opacity: 1;
}
.gallery-picture-23
{
    position: absolute;
    top: 3722px;
    left: 759px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/d207acbe2584e1c2eeebe631f978d80f.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-23:hover
{
    top: 3722px;
    left: 759px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/d207acbe2584e1c2eeebe631f978d80f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-23
{
    top: 4273px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-23
{
    top: 4280px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-23:hover .Rectangle-23
{
    opacity: 1;
}

.gallery-picture-24
{
    position: absolute;
    top: 3678px;
    left: 1191px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/ab2d5895325df564c090238554f85f97.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-24:hover
{
    top: 3678px;
    left: 1191px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('Brandgallery/ab2d5895325df564c090238554f85f97.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-24
{
    top: 3890px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-24
{
    top: 3897px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    margin:5px 10px;
    transform: rotate(360deg);
    background: transparent url('Brandgallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-24:hover .Rectangle-24
{
    opacity: 1;
}
.gallery-picture-25
{
    position: absolute;
    top: 3971px;
    left: 1191px;
    width: 402px;
    height: 500px;
    background: transparent url('BrandGallery/04dbf5d69488e5d006d0bafd3d365a3f.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-25:hover
{
    top: 3971px;
    left: 1191px;
    width: 402px;
    height: 500px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/04dbf5d69488e5d006d0bafd3d365a3f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-25
{
    top: 4420px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 450px 350px;
}
.gallery-picture-arrow-25
{
    top: 4427px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-25:hover .Rectangle-25
{
    opacity: 1;
}
.InfiniteScrollText
{
    position: absolute;
    top: 4464px;
    left: 836px;
    width: 250px;
    height: 31px;
    color: var(--unnamed-color-444444);
    text-align: center;
    font: oblique normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #ff0000;
    background-color: #54B3A1;
    opacity: 1;
}
.FooterPath50
{
    position: absolute;
    top: 4753px;
    left: 0px;
    width: 1920px;
    height: 397px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Logo-vienna-distribution
{
    position: absolute;
    top: 4885px;
    left: 327px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group54Left
{
    position: absolute;
    top: 4904px;
    left: 759px;
    width: 190px;
    height: 125px;
    opacity: 1;
    line-height: 35px;
    list-style-type: none;
    
}
.Group54Left a
{
    top: 4904px;
    left: 759px;
    width: 46px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Group54Center
{
    position: absolute;
    top: 4904px;
    left: 1191px;
    width: 109px;
    height: 125px;
    opacity: 1;
    list-style-type: none;
    line-height: 35px;
}
.Group54Center a
{
    top: 3174px;
    left: 1191px;
    width: 51px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Social-Media-FooterRight
{
    position: absolute;
    top: 4951px;
    left: 1467px;
    width: 126px;
    height: 32px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.Facebook-FooterRight
{
    top: 4951px;
    left: 1467px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Facebook.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Instagram-FooterRight
{
    top: 4951px;
    left: 1514px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Instagram.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-FooterRight
{
    top: 4951px;
    left: 1561px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Twitter.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.RightsReserved
{
    position: absolute;
    top: 5100px;
    left: 759px;
    width: 317px;
    height: 20px;
    color: var(--unnamed-color-ababab);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 0px;
    color: #ABABAB;
    opacity: 1;
    white-space: nowrap;
}
