*{
    margin: 0px;
    padding: 0px;
}
body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 5150px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-category-selection
{
    position: absolute;
    top: 170px;
    left: 889px;
    width: 148px;
    height: 30px;
    opacity: 1;
    border:1px solid gray;
    border-top:none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.nav-menu-item
{
    top: 170px;
    left: 889px;
    width: 132px;
    height: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-menu-item a
{
    top: 170px;
    left: 897px;
    width: 34px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s ease;
}
#PressHover
{
    color: #54B3A1;

}
#Rectangle12
{
    top: 200px;
    left: 654px;
    width: 38px;
    height: 3px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
    margin-top: 29px;
    margin-left: -95px;
}
#BrandsHover:hover
{
    color: #54B3A1;
}
#BrandsHover::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-9.5px;
    /* bottom: -4px; */
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
    margin-top: 6px;
    z-index: 1;
}
#BrandsHover:hover::after,
#BrandsHover:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.Group86Main
{
    position: absolute;
    top: 275px;
    left: 327px;
    width: 1266px;
    height: 4066px;
    opacity: 1;
}
.gallery-picture-1
{
    position: absolute;
    top: 275px;
    left: 327px;
    width: 402px;
    height: 272px;
    background: transparent url('BrandGallery/91a0de0ea14d672cff42ed9294950971.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1;
}
.gallery-picture-1:hover
{
    top: 275px;
    left: 327px;
    width: 402px;
    height: 272px;
    mix-blend-mode:normal;
    background: transparent url('BrandGallery/91a0de0ea14d672cff42ed9294950971.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-arrow-1
{
    top: 503px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group\ 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);   
    opacity: 1;
    margin:5px 10px;
    z-index: 1;  
}
.Rectangle89-1
{
    top: 496px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    z-index: 0;
    margin: 220px 350px;
}
.gallery-picture-1:hover .Rectangle89-1
{
    opacity: 1;
}
.gallery-picture-2
{
    position: absolute;
    top: 275px;
    left: 759px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/ad9c7e55388608d74f668beec0191d67.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-2:hover
{
    top: 275px;
    left: 759px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/ad9c7e55388608d74f668beec0191d67.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle89-2
{
    top: 834px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-2
{
    top: 841px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin: 5px 10px;
    opacity: 1;
}
.gallery-picture-2:hover .Rectangle89-2
{
    opacity: 1;
}
.gallery-picture-3
{
    position: absolute;
    top: 275px;
    left: 1191px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/59325d9adb0649358d392f372a22b54f.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-3:hover
{
    top: 275px;
    left: 1191px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/59325d9adb0649358d392f372a22b54f.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-3
{
    top: 834px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-3
{
    top: 841px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    opacity: 1;
    margin: 5px 10px;
}
.gallery-picture-3:hover .Rectangle-3
{
    opacity: 1;
}
.gallery-picture-4
{
    position: absolute;
    top: 577px;
    left: 327px;
    width: 402px;
    height: 601px;
    background: transparent url('BrandGallery/e557794b67f1764caa0614c85d860171.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-4:hover
{
    top: 577px;
    left: 327px;
    width: 402px;
    height: 601px;
    background: transparent url('BrandGallery/e557794b67f1764caa0614c85d860171.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
}
.Rectangle-4
{
    top: 1127px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-4
{
    top: 1134px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 5px 10px;
}
.gallery-picture-4:hover .Rectangle-4
{
    opacity: 1;
}
.gallery-picture-5
{
    position: absolute;
    top: 915px;
    left: 759px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/e42e123964e0b47daa7fb00f173cecb8.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-5:hover
{
    top: 915px;
    left: 759px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/e42e123964e0b47daa7fb00f173cecb8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-5
{
    top: 1127px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-5
{
    top: 1134px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin: 5px 10px;
    opacity: 1;
}
.gallery-picture-5:hover .Rectangle-5
{
    opacity: 1;
}
.gallery-picture-6
{
    position: absolute;
    top: 915px;
    left: 1191px;
    width: 402px;
    height: 420px;
    background: transparent url('BrandGallery/493c17b7974cdd460537b39e1d890cc8.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-6:hover{
    top: 915px;
    left: 1191px;
    width: 402px;
    height: 420px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/493c17b7974cdd460537b39e1d890cc8.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-6
{
    top: 1284px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 360px 350px;
}
.gallery-picture-arrow-6
{
    top: 1291px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin:5px 10px;
    opacity: 1;
}
.gallery-picture-6:hover .Rectangle-6
{
    opacity: 1;
}
.gallery-picture-7
{
    position: absolute;
    top: 1208px;
    left: 327px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/2a76d2975e21c695e4b6348f4b6abd8a.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-7:hover
{
    top: 1208px;
    left: 327px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/2a76d2975e21c695e4b6348f4b6abd8a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-7
{
    top: 1420px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-7
{
    top: 1427px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-7:hover .Rectangle-7
{
    opacity: 1;
}
.gallery-picture-8
{
    position: absolute;
    top: 1208px;
    left: 759px;
    width: 402px;
    height: 263px;
    background: transparent url('BrandGallery/7cf77c35d00cf3735750d4400da93c2a.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-8:hover
{
    top: 1208px;
    left: 759px;
    width: 402px;
    height: 263px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/7cf77c35d00cf3735750d4400da93c2a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-8
{
    top: 1420px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 210px 350px;
}
.gallery-picture-arrow-8
{
    top: 1427px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-8:hover .Rectangle-8
{
    opacity: 1;
}
.gallery-picture-9
{
    position: absolute;
    top: 1365px;
    left: 1191px;
    width: 402px;
    height: 610px;
    background: transparent url('BrandGallery/a8b767dce4699f13da8af26c3d18b298.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-9:hover
{
    top: 1365px;
    left: 1191px;
    width: 402px;
    height: 610px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/a8b767dce4699f13da8af26c3d18b298.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-9
{
    top: 1924px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-9
{
    top: 1931px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-9:hover .Rectangle-9
{
    opacity: 1;
}
.gallery-picture-10
{
    position: absolute;
    top: 1501px;
    left: 327px;
    width: 402px;
    height: 605px;
    background: transparent url('BrandGallery/98f2959beb3a4d8365054822d27907a1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-10:hover
{
    top: 1501px;
    left: 327px;
    width: 402px;
    height: 605px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/98f2959beb3a4d8365054822d27907a1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-10
{
    top: 2055px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-10
{
    top: 2062px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    margin: 5px 10px;
    transform: rotate(360deg);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-10:hover .Rectangle-10
{
    opacity: 1;
}
.gallery-picture-11
{
    position: absolute;
    top: 1501px;
    left: 759px;
    width: 402px;
    height: 503px;
    background: transparent url('BrandGallery/ece3b0ffa252f8b19cd566c3794fbd76.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-11:hover{
    top: 1501px;
    left: 759px;
    width: 402px;
    height: 503px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/ece3b0ffa252f8b19cd566c3794fbd76.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-11
{
    top: 1953px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 450px 350px;
}
.gallery-picture-arrow-11
{
    top: 1960px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    transform: rotate(360deg);
    margin:5px 10px;
    opacity: 1;
}
.gallery-picture-11:hover .Rectangle-11
{
    opacity: 1;
}
.gallery-picture-12
{
    position: absolute;
    top: 2136px;
    left: 327px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/4c9391df250bfd3321bef644dca4ab85.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-12:hover
{
    top: 2136px;
    left: 327px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/4c9391df250bfd3321bef644dca4ab85.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-12
{
    top: 2687px;
    left: 678px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-12
{
    top: 2694px;
    left: 688px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin:5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-12:hover .Rectangle-12
{
    opacity: 1;
}
.gallery-picture-13
{
    position: absolute;
    top: 2034px;
    left: 759px;
    width: 402px;
    height: 602px;
    background: transparent url('BrandGallery/79c2fc0f85d771a05ab9e21624cc3cee.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-13:hover
{
    top: 2034px;
    left: 759px;
    width: 402px;
    height: 602px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/79c2fc0f85d771a05ab9e21624cc3cee.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-13
{
    top: 2585px;
    left: 1110px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 550px 350px;
}
.gallery-picture-arrow-13
{
    top: 2592px;
    left: 1120px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin:5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-13:hover .Rectangle-13
{
    opacity: 1;
}
.gallery-picture-14
{
    position: absolute;
    top: 2005px;
    left: 1191px;
    width: 402px;
    height: 394px;
    background: transparent url('BrandGallery/25eb77c76127478fd0fd1fa806a4fc48.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.gallery-picture-14:hover
{
    top: 2005px;
    left: 1191px;
    width: 402px;
    height: 394px;
    mix-blend-mode: normal;
    background: transparent url('BrandGallery/25eb77c76127478fd0fd1fa806a4fc48.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Rectangle-14
{
    top: 2348px;
    left: 1542px;
    width: 36px;
    height: 36px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 0;
    margin: 340px 350px;
}
.gallery-picture-arrow-14
{
    top: 2355px;
    left: 1552px;
    width: 17px;
    height: 22px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform: rotate(360deg);
    margin: 5px 10px;
    background: transparent url('BrandGallery/Group 128.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery-picture-14:hover .Rectangle-14
{
    opacity: 1;
}