*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2750px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ReadSomeText
{
    position: absolute;
    top: 195px;
    left: 405px;
    width: 1110px;
    height: 136px;
    color: var(--unnamed-color-f5f5f5);
    text-align: center;
    font: normal normal 300 50px/63px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
}

.RepeatGri2
{
    position: absolute;
    top: 456px;
    left: 327px;
    width: 1266px;
    height: 1591px;
    opacity: 1;
    z-index: 1;
}
.GroupMenu
{
    top: 456px;
    left: 327px;
    width: 1266px;
    height: 490px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.BlogPost
{
    top: 456px;
    left: 327px;
    width: 402px;
    height: 490px;
    opacity: 1;
    align-items: center;
    margin: 0px -1px;
    z-index: 1;
}
.BlogPostPhoto
{
    top: 456px;
    left: 327px;
    width: 402px;
    height: 273px;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    background: transparent url('News/53b2b5c1433be3b14a833098152b2789-1.png') 0% 0% padding-box no-repeat;
    opacity: 1;
    z-index: 1;
}
.BlogPostWhite
{
    top: 729px;
    left: 327px;
    width: 402px;
    height: 217px;
    background: var(--unnamed-color-f5f5f5) 0% 0% no-repeat padding-box;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}
.BlogPostBorder-1
{

    top: 466px;
    left: 337px;
    width: 382px;
    height: 470px;
    border: 2px solid var(--unnamed-color-0d0d0d);
    border: 2px solid #0D0D0D;
    opacity: 1;
    margin: 5px 10px;
    margin-top: -480px;
    z-index: 1;
}
.BlogPostBorder-1:hover
{
    top: 466px;
    left: 337px;
    width: 382px;
    height: 470px;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-54b3a1);
    border: 2px solid #54B3A1;
    background: transparent url('News/53b2b5c1433be3b14a833098152b2789-1@2x.png') 0% 0% padding-box no-repeat;
    background-size: 100%;
    opacity: 1;
    z-index: 1;
}
.BlogPostDate
{
    top: 711px;
    left: 357px;
    width: 342px;
    height: 23px;  
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: var(--unnamed-color-f5f5f5);
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin:10px;
    margin-top: 240px;
    z-index: 1;
}
.BlackBorder
{
    top: 200px;  
    bottom: 0;
    width: 402px;
    left: -2.5px;
    width: 105.5%;
    height: 15%;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -83px;
    margin-left: -12px;
    z-index: 0;
}
.WhiskeyText
{
    top: 749px;
    left: 357px;
    width: 220px;
    height: 55px;
    color: var(--unnamed-color-0d0d0d);
    text-align: left;
    font: normal normal normal 24px/24px Futura PT;
    letter-spacing: 0px;
    color: #0D0D0D;
    text-transform: uppercase;
    opacity: 1;
    margin: 15px 10px;
}
.Rectangle44
{
    top: 814px;
    left: 357px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 15px;
}
.BlogPostBorder-1:hover .Rectangle44
{
    top: 814px;
    left: 357px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
}
.TextWhiskey
{
    top: 836px;
    left: 357px;
    width: 342px;
    height: 71px;
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 15px 15px;
}
.Social-Media-Blog-Post
{
    top: 754px;
    left: 607px;
    width: 92px;
    height: 24px;
    opacity: 1;
    margin-top: -175px;
    margin-left: 275px;
    display: flex;
    justify-content: space-between;
}
.Facebook-post
{
    top: 754px;
    left: 607px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-post
{
    top: 754px;
    left: 641px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Linkedin-post
{
    top: 754px;
    left: 675px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Linkedin-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPost-1
{
    top: 456px;
    left: 759px;
    width: 402px;
    height: 490px;
    opacity: 1;
}
.BlogPostPhoto-1
{
    top: 456px;
    left: 759px;
    width: 402px;
    height: 273px;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    background: transparent url('News/1b6433634ad28fc5d76069027821da50-1.png') 0% 0% padding-box no-repeat;
    opacity: 1;
}
.BlogPostWhite-1
{
    top: 729px;
    left: 759px;
    width: 402px;
    height: 217px;
    background: var(--unnamed-color-f5f5f5) 0% 0% no-repeat padding-box;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPostBorder-2
{
    top: 466px;
    left: 769px;
    width: 382px;
    height: 470px;
    border: 2px solid var(--unnamed-color-0d0d0d);
    border: 2px solid #0D0D0D;
    margin: 5px 10px;
    margin-top: -480px;
    opacity: 1
}
.BlogPostBorder-2:hover
{
    top: 466px;
    left: 769px;
    width: 382px;
    height: 470px;
    border: 2px solid var(--unnamed-color-54b3a1);
    border: 2px solid #54B3A1;
    opacity: 1;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    background: transparent url('News/1b6433634ad28fc5d76069027821da50-1@2x.png') 0% 0% padding-box no-repeat;
    background-size:100%;
}
.BlogPostDate-1
{
    top: 711px;
    left: 789px;
    width: 342px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin:10px;
    margin-top: 240px;
}
.BlackBoarder-1
{
    top: 200px;  
    bottom: 0;
    width: 402px;
    left: -2.5px;
    width: 105.5%;
    height: 15%;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -83px;
    margin-left: -12px;
    z-index: 0;
}
.SecondText
{
    top: 749px;
    left: 789px;
    width: 220px;
    height: 55px;
    color: var(--unnamed-color-0d0d0d);
    text-align: left;
    font: normal normal normal 24px/24px Futura PT;
    letter-spacing: 0px;
    color: #0D0D0D;
    text-transform: uppercase;
    opacity: 1;
    margin: 15px 15px;
}
.Rectangle44-1
{
    top: 814px;
    left: 789px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 15px;
}
.BlogPostBorder-2:hover .Rectangle44-1
{
    top: 814px;
    left: 789px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
}
.TextSecond
{
    top: 836px;
    left: 789px;
    width: 342px;
    height: 71px;
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 15px 15px;
}
.Social-Media-Blog-Post-1
{
    top: 754px;
    left: 1039px;
    width: 92px;
    height: 24px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-top: -175px;
    margin-left: 275px;
}
.Facebook-post-1
{
    top: 754px;
    left: 1039px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-post-1
{
    top: 754px;
    left: 1073px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Linkedin-post-1
{
    top: 754px;
    left: 1107px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Linkedin-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPost-2
{
    top: 456px;
    left: 1191px;
    width: 402px;
    height: 490px;
    opacity: 1;
}
.BlogPostPhoto-2
{
    top: 456px;
    left: 1191px;
    width: 402px;
    height: 273px;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    background: transparent  url('News/a87f4ce3d22fbd927d0903208e3199c2-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPostWhite-2
{
    top: 729px;
    left: 1191px;
    width: 402px;
    height: 217px;
    background: var(--unnamed-color-f5f5f5) 0% 0% no-repeat padding-box;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPostBorder-3
{
    top: 466px;
    left: 1201px;
    width: 382px;
    height: 470px;
    border: 2px solid var(--unnamed-color-0d0d0d);
    border: 2px solid #0D0D0D;
    opacity: 1;
    margin: 5px 10px;
    margin-top: -480px;
}
.BlogPostBorder-3:hover
{
    top: 466px;
    left: 1201px;
    width: 382px;
    height: 470px;
    border: 2px solid var(--unnamed-color-54b3a1);
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    background: transparent  url('News/a87f4ce3d22fbd927d0903208e3199c2-1@2x.png') 0% 0% no-repeat padding-box;
    border: 2px solid #54B3A1;
    background-size: 100%;
    opacity: 1;
}
.BlogPostDate-2
{
    top: 711px;
    left: 1221px;
    width: 342px;
    height: 23px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    margin:10px;
    margin-top: 240px;
}
.BlackBorder-2
{
    top: 200px;  
    bottom: 0;
    width: 402px;
    left: -2.5px;
    width: 105.5%;
    height: 15%;
    background: transparent linear-gradient(180deg, #00000000 0%, var(--unnamed-color-000000) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -83px;
    margin-left: -12px;
    z-index: 0;
}
.HeadshotText
{
    top: 749px;
    left: 1221px;
    width: 220px;
    height: 55px;
    color: var(--unnamed-color-0d0d0d);
    text-align: left;
    font: normal normal normal 24px/24px Futura PT;
    letter-spacing: 0px;
    color: #0D0D0D;
    text-transform: uppercase;
    opacity: 1;
    margin: 15px 15px;
}
.Rectangle44-2
{
    top: 814px;
    left: 1221px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 15px;
}
.BlogPostBorder-3:hover .Rectangle44-2
{
    top: 814px;
    left: 1221px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
}
.TextHeadshot
{
    top: 836px;
    left: 1221px;
    width: 342px;
    height: 71px;
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 18px/24px Futura PT;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 15px 15px;
}
.Social-Media-Blog-Post-2
{
    top: 754px;
    left: 1471px;
    width: 92px;
    height: 24px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-top: -175px;
    margin-left: 275px;
}
.Facebook-post-2
{
    top: 754px;
    left: 1471px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-post-2
{
    top: 754px;
    left: 1505px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Linkedin-post-2
{
    top: 754px;
    left: 1539px;
    width: 25px;
    height: 25px;
    background: transparent url('News/Linkedin-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.BlogPost-Middle
{
    top: 1006px;
    left: 327px;
    width: 1266px;
    height: 490px;
    opacity: 1;
    margin: 50px  -1px;
}
.BlogPost-Down
{
    top: 1556px;
    left: 327px;
    width: 1266px;
    height: 490px;
    opacity: 1;
    margin: 70px -1px;
}
.Group68
{
    position: absolute;
    top: 2127px;
    left: 831px;
    width: 258px;
    height: 40px;
    opacity: 1;
}
.Path55
{
    top: 2137px;
    left: 840px;
    width: 14px;
    height: 16px;
    background: transparent url('News/Path 55.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 10px;
}
.Path55:hover
{
    top: 2137px;
    left: 840px;
    width: 14px;
    height: 16px;
    filter: invert(61%) sepia(58%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(94%);
}
.Group67
{
    top: 2129px;
    left: 888px;
    width: 144px;
    height: 38px;
    opacity: 1;
    margin: -36px 55px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
#One
{
    top: 2129px;
    left: 888px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#One:hover
{
    top: 2129px;
    left: 917px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#One::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    margin-left:-5px;
    bottom: -1px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#One:hover::after,
#One:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#Two
{
    top: 2129px;
    left: 931px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#Two:hover
{
    top: 2129px;
    left: 917px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#Two::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    margin-left:-5px;
    bottom: -1px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#Two:hover::after,
#Two:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}

#Three
{
    top: 2129px;
    left: 946px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#Three:hover
{
    top: 2129px;
    left: 917px;
    width: 14px;
    height: 31px;
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#Three::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    margin-left:-5px;
    bottom: -1px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#Three:hover::after,
#Three:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#Dot
{
    top: 2129px;
    left: 975px;
    width: 18px;
    height: 31px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#TwentyOne
{
    top: 2129px;
    left: 1008px;
    width: 24px;
    height: 31px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#TwentyOne:hover
{
    top: 2129px;
    left: 1008px;
    width: 24px;
    height: 31px;
    color: var(--unnamed-color-54b3a1);
    text-align: right;
    font: normal normal normal 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #54B3A1;
    opacity: 1;
}
#TwentyOne::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    margin-left:-12px;
    bottom: -1px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#TwentyOne:hover::after,
#TwentyOne:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}

.Path55Right
{
    top: 2137px;
    left: 1066px;
    width: 14px;
    height: 16px;
    background: transparent url('News/Path 55-1.png') 0% 0% no-repeat padding-box;
    margin: 6px;
    margin-left: 230px;
    opacity: 1;
}
.Path55Right:hover
{
    top: 2137px;
    left: 1066px;
    width: 14px;
    height: 16px;
    opacity: 1;
    filter: invert(61%) sepia(58%) saturate(308%) hue-rotate(119deg) brightness(130%) contrast(94%);
}


.FooterPath50
{
    position: absolute;
    top: 2353px;
    left: 0px;
    width: 1920px;
    height: 397px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Logo-vienna-distribution
{
    position: absolute;
    top: 2485px;
    left: 327px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group54Left
{
    position: absolute;
    top: 2504px;
    left: 759px;
    width: 190px;
    height: 125px;
    opacity: 1;
    line-height: 35px;
    list-style-type: none;
    
}
.Group54Left a
{
    top: 2504px;
    left: 759px;
    width: 46px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Group54Center
{
    position: absolute;
    top: 2504px;
    left: 1191px;
    width: 109px;
    height: 125px;
    opacity: 1;
    list-style-type: none;
    line-height: 35px;
}
.Group54Center a
{
    top: 2504px;
    left: 1191px;
    width: 51px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Social-Media-FooterRight
{
    position: absolute;
    top: 2551px;
    left: 1467px;
    width: 126px;
    height: 32px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.Facebook-FooterRight
{
    top: 2551px;
    left: 1467px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Facebook.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Instagram-FooterRight
{
    top: 2551px;
    left: 1514px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Instagram.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-FooterRight
{
    top: 2551px;
    left: 1561px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Twitter.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.RightsReserved
{
    position: absolute;
    top: 2700px;
    left: 759px;
    width: 317px;
    height: 20px;
    color: var(--unnamed-color-ababab);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 0px;
    color: #ABABAB;
    opacity: 1;
    white-space: nowrap;
}
