*{
    padding: 0px;
    margin: 0px;
}
body
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height:  1580px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Interested
{
    position: absolute;
    top: 170px;
    left: 327px;
    width: 294px;
    height: 55px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 43px/43px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.Rectangle30
{
    position: absolute;
    top: 225px;
    left: 327px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
}
#Interested-Text
{
    position: absolute;
    top: 252px;
    left: 327px;
    width: 726px;
    height: 63px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 24px/32px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
}
.FormGroup52
{
    position: absolute;
    top: 405px;
    left: 327px;
    width: 726px;
    height: 592px;
    opacity: 1;
}
.Input-Container-Name
{
    top: 405px;
    left: 327px;
    width: 726px;
    height: 94px;
    opacity: 1;
}
#input-name
{
    top: 405px;
    left: 357px;
    width: 97px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 25px;
}
input[type=text]
{
    top: 429px;
    left: 327px;
    width: 716px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color:#FFFFFF;
    display: inline-block;  
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    outline:none;
}

input[type=text]::placeholder
{
    top: 448px;
    left: 457px;
    width: 152px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 25px;   
}
.Rectangle47
{
    top: 439px;
    left: 337px;
    width: 716px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -45px;
    margin-left: 10px;
    cursor: pointer;
}
.Input-Container-Name:hover .Rectangle47
{
    display: none;
}
.Input-Container-Email
{
    top: 539px;
    left: 327px;
    width: 350px;
    height: 94px;
    opacity: 1;
    margin-top: 50px;
}
#input-email
{
    top: 539px;
    left: 357px;
    width: 175px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 25px;
}
input[type=text-email]
{
    top: 563px;
    left: 327px;
    width: 340px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    color: #FFFFFF;
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    display: inline-block;  
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    outline:none;
}
input[type=text-email]::placeholder
{
    top: 582px;
    left: 357px;
    width: 152px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 25px;
}
.Rectangle47-Email
{
    top: 573px;
    left: 337px;
    width: 340px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
    margin-top: -45px;
    margin-left: 10px;
}
.Input-Container-Email:hover .Rectangle47-Email
{
    display: none;
}
.Input-Container-Phone
{
    top: 539px;
    left: 703px;
    width: 350px;
    height: 94px;
    opacity: 1;
    margin-left: 374px;
    margin-top: -95px;
}
#input-phone
{
    top: 539px;
    left: 733px;
    width: 179px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin:25px;
}
input[type=text-phone]
{
    top: 563px;
    left: 703px;
    width: 340px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    color: #FFFFFF;
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    display: inline-block;  
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    outline:none;
}
input[type=text-phone]::placeholder
{
    top: 582px;
    left: 733px;
    width: 128px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 25px;
}
.Rectangle47-Phone
{
    top: 573px;
    left: 713px;
    width: 340px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -45px;
    margin-left: 10px;
}
.Input-Container-Phone:hover .Rectangle47-Phone
{
    display: none;
}
.Input-Container-Message
{
    top: 673px;
    left: 327px;
    width: 726px;
    height: 214px;
    opacity: 1;
    margin-top: 50px;
}
#input-message
{
    top: 673px;
    left: 357px;
    width: 124px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 25px;
}
input[type=text-message]
{
    top: 697px;
    left: 327px;
    width: 716px;
    height: 180px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    color: #FFFFFF;
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    display: inline-block;  
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    outline:none;
}
input[type=text-message]::placeholder
{
    top: 716px;
    left: 357px;
    width: 182px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 25px;  
}
.Rectangle47-Message
{
    top: 707px;
    left: 337px;
    width: 716px;
    height: 180px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -165px;
    margin-left: 10px;
}
.Input-Container-Message:hover .Rectangle47-Message
{
    display: none;
}
.cta
{
    top: 962px;
    left: 629px;
    width: 122px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 25px;
    margin-left: 272px;
}
#SubmitBtn
{
    top: 947px;
    left: 599px;
    width: 182px;
    height: 50px;
    background: var(--unnamed-color-f34213) 0% 0% no-repeat padding-box;
    background: #F34213 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
    cursor: pointer;
}
#SubmitBtn:hover
{
    top: 947px;
    left: 599px;
    width: 182px;
    height: 50px;
    background: var(--unnamed-color-d94016) 0% 0% no-repeat padding-box;
    background: #D94016 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
}
#BtnText
{
    top: 962px;
    left: 629px;
    width: 122px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}