*{
    margin: 0;
    padding: 0;
}
body
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1890px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#navbar
{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
    background: var(--unnamed-color-0d0d0d) 0% 0% no-repeat padding-box;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo-vienna-distributionNavBarPhoto
{
    position: absolute;
    top: 25px;
    left: 324px;
    width: 297px;
    height: 50px;
    background: transparent url('BrandWeWork/Group\ 57.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-bar-menu
{
    position: absolute;
    top: 42px;
    left: 763px;
    width: 837px;
    height: 29px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar-menu a{
    text-decoration: none;
    white-space: nowrap;
}
#HomeLi
{
    top: 42px;
    left: 763px;
    width: 47px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease;
}
#HomeLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 55px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#HomeLi:hover::after,
#HomeLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandsLi{
    top: 42px;
    left: 845px;
    width: 185px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 195px;
    margin-left:-90px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandsLi:hover::after,
#BrandsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#BrandGalleryLi{
    top: 42px;
    left: 1065px;
    width: 121px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#BrandGalleryLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 135px;
    margin-left:-55px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#BrandGalleryLi:hover::after,
#BrandGalleryLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#NewsLi
{
    top: 42px;
    left: 1221px;
    width: 46px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#NewsLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    margin-left:-23px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#NewsLi:hover::after,
#NewsLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#AboutLi
{
    top: 42px;
    left: 1302px;
    width: 75px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#AboutLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#AboutLi:hover::after,
#AboutLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
#ContactLi
{
    top: 42px;
    left: 1412px;
    width: 72px;
    height: 22px;
    color: var(--unnamed-color-ffffff);
    text-align: right;
    font: normal normal medium 17px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#ContactLi::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    margin-left:-35px;
    bottom: 5px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
#ContactLi:hover::after,
#ContactLi:focus::after {
  opacity: 1;
  transform: translateX(-50%) scaleX(1); 
}
.SocialMediaNav-bar
{
    top: 46px;
    left: 1519px;
    width: 81px;
    height: 16px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#FacebookLi
{
    top: 46px;
    left: 1519px;
    width: 8px;
    height: 16px;
    background: transparent url('BrandWeWork/Facebook-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#InstagramLi
{
    top: 46px;
    left: 1547px;
    width: 16px;
    height: 16px;
    background: transparent url('BrandWeWork/Instagram-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#TwitterLi
{
    top: 47px;
    left: 1583px;
    width: 17px;
    height: 14px;
    background: transparent url('BrandWeWork/Twitter-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group110
{
    position: absolute;
    top: 220px;
    left: 543px;
    width: 834px;
    height: 1035px;
    opacity: 1;
}
.Impressum
{
    top: 220px;
    left: 543px;
    width: 402px;
    height: 55px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 43px/43px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 5px;
    margin-left: -1px;
}
.Rectangle30
{
    top: 275px;
    left: 543px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: -1.5px 5px;
}
.Vienna-Text
{
    top: 307px;
    left: 543px;
    width: 834px;
    height: 34px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 26px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 32px -1px;
}
.Owner
{
    top: 401px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 30px -1px;
}
.Vienna-Distribution-Gmbh
{
    top: 435px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -25px -1px;
}
.Address
{
    top: 494px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 55px -1px;
}
.LandStrasser
{
    top: 528px;
    left: 543px;
    width: 834px;
    height: 59px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -45px -1px;
}
.Phone
{
    top: 617px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 80px -1px;
}
.Phone-Number
{
    top: 651px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -75px -1px;
}
.Email
{
    top: 710px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 110px -1px;
}
.Support
{
    top: 744px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -105px -1px;
}
.Website
{
    top: 803px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 140px -1px;
}
.WWW-Vienna
{
    top: 837px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -135px -1px;
}
.Company
{
    top: 896px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1; 
    margin: 170px -1px;
}
.Research-Text
{
    top: 930px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -165px -1px;
}
.Direction
{
    top: 989px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 200px -1px;
}
#English-Text
{
    top: 1023px;
    left: 543px;
    width: 834px;
    height: 119px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 20px/30px Futura PT;
    letter-spacing: 0px;
    color: grey;
    opacity: 1;
    margin: -195px -1px;
}
.Applicable
{
    top: 1172px;
    left: 543px;
    width: 834px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/30px Futura PT;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    margin: 220px -1px;
}
.Media-Text
{
    top: 1206px;
    left: 543px;
    width: 834px;
    height: 49px;
    text-align: left;
    letter-spacing: NaNpx;
    opacity: 1;
    margin: -215px -1px;
}
#Media-Span
{
    top: 0px;
    left: 0px;
    width: 244px;
    height: 29px;
    color: var(--unnamed-color-f5f5f5);
    text-align: left;
    font: normal normal normal 22px/22px Futura PT;
    letter-spacing: 0px;
    color: grey;
}
#Legal-Span
{
    top: 28px;
    left: 0px;
    width: 347px;
    height: 21px;
    color: var(--unnamed-color-ababab);
    text-align: left;
    font: normal normal normal 16px/22px Futura PT;
    letter-spacing: 0px;
    color: #ABABAB;
}
#Ris-Span
{
    top: 28px;
    left: 347px;
    width: 110px;
    height: 21px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 16px/22px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.FooterPath50
{
    position: absolute;
    top: 1493px;
    left: 0px;
    width: 1920px;
    height: 397px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Logo-vienna-distribution
{
    position: absolute;
    top: 1315px;
    left: 327px;
    width: 186px;
    height: 162px;
    background: transparent url('Home/Group 56.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Group54Left
{
    position: absolute;
    top: 1625px;
    left: 759px;
    width: 190px;
    height: 125px;
    opacity: 1;
    line-height: 35px;
    list-style-type: none;
    
}
.Group54Left a
{
    top: 1644px;
    left: 759px;
    width: 190px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Group54Center
{
    position: absolute;
    top: 1644px;
    left: 1191px;
    width: 109px;
    height: 125px;
    opacity: 1;
    list-style-type: none;
    line-height: 35px;
}
.Group54Center a
{
    top: 1644px;
    left: 1191px;
    width: 89px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    text-decoration: none;
}
.Social-Media-FooterRight
{
    position: absolute;
    top: 1691px;;
    left: 1467px;
    width: 126px;
    height: 34px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.Facebook-FooterRight
{
    top: 1691px;
    left: 1467px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Facebook.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Instagram-FooterRight
{
    top: 1691px;
    left: 1514px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Instagram.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Twitter-FooterRight
{
    top: 1691px;
    left: 1561px;
    width: 34px;
    height: 34px;
    background: transparent url('BrandWeWork/Twitter.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.RightsReserved
{
    position: absolute;
    top: 1840px;
    left: 759px;
    width: 317px;
    height: 20px;
    color: var(--unnamed-color-ababab);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 0px;
    color: #ABABAB;
    opacity: 1;
    white-space: nowrap;
}
