*{
   top:0px;
   left:0px;
   width:1920px;
   height:1080px;
}

body{
    background:#0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;   
}
#PhotoVienna {
    position:absolute;
    top:40px;
    left:867px;
    width:186px;
    height:162px;
    background-repeat: no-repeat;
    background: transparent url('./PhotoIndex/Group\ 56.png') 0% 0% no-repeat padding-box;
    transform: (-50%, -50%);
    opacity: 1;
}
#WelcomeText{
    position:absolute;
    top:242px;
    left:649px;
    width:620px;
    height:63px;
    color:#ffffff;
    text-align: center;
    font: normal normal normal 24px/32px Futura PT;
    font-size: 24px;
    letter-spacing: -0.12px;
    opacity: 1;
}
#Born{
    position: absolute;
    top: 423px;
    left: 768px;
    width: 385px;
    height: 41px;
    text-align: center;
    color: var(--unnamed-color-ffffff);
    font: normal normal normal 32px/43px Futura PT;
    color:#ffffff;
    font-size: 32px;
    opacity: 1;
    text-transform: uppercase;
    white-space: nowrap; 
    
}
#LittleColor{
    position: absolute;
    top: 464px;
    left: 945px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 13px;
    margin-top: 22.5px;
}
/*Day box start*/
#DayBox{
    position:relative;
    top: 506px;
    left: 651px;
    width: 186px;
    height: 94px;
    opacity: 1;
    margin-top: -2100px; 
}
#DayText{ 
    position: relative;
    top: 506px;
    left: 681px;
    width: 71px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color:#ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -95px;
}
#WhiteDayBox{
    position: relative;
    top: 530px;
    left: 651px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin-top: -35px;
}
#DateDiv
{
    position:relative;
    top:-505px;
    margin-left: -666px;
}
#DateDay{
    position: inherit;
    top: 549px;
    left: 681px;
    width: 151px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color:#FFFFFF;
    opacity: 0;
    z-index: 1;
    /* background:transparent;
    border:none; */
}
#InsiderColorDay{
    position:relative;
    top:540px;
    left: 661px;
    width: 95%;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    background: linear-gradient(#54b3a1, #54b3a1);
    opacity: 1;
    margin-top: -1586px;
    margin-left: -652px;
}
/*Day box finish*/


/*Month box start*/
#MonthBox
{
    position: relative;
    top: 506px;
    left: 867px;
    width: 186px;
    height: 94px;
    opacity: 1;
    margin-top: -60px;
}
#MonthText
{
    position: relative;
    top: 506px;
    left: 897px;
    width: 106px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -95px;
}
#WhiteMonthBox
{
    position: relative;
    top: 530px;
    left: 867px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    margin-top: -35px;
    opacity: 1;
    z-index: 0;
}
#MonthDiv{
    position:relative;
    top:-505px;
    margin-left: -866px;
    
}
#DateMonth
{
    position: inherit;
    top: 549px;
    left: 897px;
    width: 128px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: white;
    z-index: 1;
    opacity: 0;
}
#InsiderColorMonth
{
    position: inherit;
    top: 540px;
    left: 877px;
    width: 176px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -1586px;
    margin-left: -867px;
}
/*Month box end*/

/*Year box Start*/
#YearBox{
    position: relative;
    top: 506px;
    left: 1083px;
    width: 186px;
    height: 94px;
    opacity: 1;
    margin-top: -60px;
}
#YearText{
    position: relative;
    top: 506px;
    left: 1113px;
    width: 98px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -95px;
}
#WhiteYearBox
{
    position: relative;
    top: 530px;
    left: 1083px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin-top: -35px;
}
#YearDiv{
    position:relative;
    top:-505px;
    margin-left: -1085px; 
}

#DateYear{
    position: inherit;
    top: 549px;
    left: 1113px;
    width: 128px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0;
    z-index: 1;
}
#InsiderColorYear
{
    position: relative;
    top: 540px;
    left: 1093px;
    width: 176px;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -1586px;
    margin-left: -1083px;
}
/*Year box End*/

#BtnLegal
{
    position: relative;
    top: 660px;
    left: 810px;
    width: 302px;
    height: 50px;
    background: var(--unnamed-color-d94016) 0% 0% no-repeat padding-box;
    background: #D94016 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
}
#TextBtnInside
{
    position: relative;
    top: 675px;
    left: 840px;
    width: 242px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -55px;   
}
#IconsPhoto
{
    position: relative;
    top: 908px;
    left: 897px;
    width: 126px;
    height: 32px;
    opacity: 1;  
}
#FacebookPhoto,
#InstagramPhoto,
#TwitterPhoto {
    position: absolute;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 1;
    
}
#FacebookPhoto {
    left: 0;
    background: transparent url('PhotoIndex/Facebook.png') 0% 0% no-repeat padding-box;
    border-radius: 50%;
    overflow: hidden;
  }
#InstagramPhoto {
    left: 60px; 
    background: transparent url('PhotoIndex/Instagram.png') 0% 0% no-repeat padding-box;
  }
  
#TwitterPhoto {
    left: 120px; 
    background: transparent url('PhotoIndex/Twitter.png') 0% 0% no-repeat padding-box;
    border-radius: 50%;
    overflow: hidden;
  }

  #footerContainer
  {
    position: relative;
    top: 970px;
    left: 489px;   
    width: 942px;
    height: 100px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    border:1px solid white;
  }
  #WhiteEndBox
  {
    position: relative;
    top: 980px;
    left: 499px;
    width: 922px;
    height: 80px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    opacity: 1;
    margin-top: -102px;
    
  }
  #FinishParagraph
  {
    position: relative;
    top: 1000px;
    left: 519px;
    width: 624px;
    height: 40px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -80px;
  }
 