*{
   top:0px;
   left:0px;
   width:1920px;
   height:1080px;
}

body{
    background:#0D0D0D 0% 0% no-repeat padding-box;
    opacity: 1;   
}
#PhotoVienna {
    position:absolute;
    top:40px;
    left:867px;
    width:186px;
    height:162px;
    background-repeat: no-repeat;
    background: transparent url('./Photo/Group\ 56.png') 0% 0% no-repeat padding-box;
    transform: (-50%, -50%);
    opacity: 1;
}
#WelcomeText{
    position:absolute;
    top:242px;
    left:649px;
    width:620px;
    height:63px;
    color:#ffffff;
    text-align: center;
    font: normal normal normal 24px/32px Futura PT;
    font-size: 24px;
    letter-spacing: -0.12px;
    opacity: 1;
}
#Born{
    position: absolute;
    top: 423px;
    left: 768px;
    width: 385px;
    height: 41px;
    text-align: center;
    color: var(--unnamed-color-ffffff);
    font: normal normal normal 32px/43px Futura PT;
    color:#ffffff;
    font-size: 32px;
    opacity: 1;
    text-transform: uppercase;
    white-space: nowrap; 
    
}
#LittleColor{
    position: absolute;
    top: 464px;
    left: 945px;
    width: 32px;
    height: 2px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 13px;
    margin-top: 22.5px;
}
#DayBox{
    position:relative;
    top: 506px;
    left: 651px;
    width: 186px;
    height: 94px;
    opacity: 1;
    margin-top: -2100px;
    
}
#DayText{ 
    position: relative;
    top: 506px;
    left: 681px;
    width: 71px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 15px/20px Futura PT;
    letter-spacing: 1.5px;
    color:#ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -95px;
}
#WhiteDayBox{
    position: relative;
    top: 530px;
    left: 651px;
    width: 176px;
    height: 60px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin-top: -35px;
    z-index: 0;
}
#DateDiv
{
    position:relative;
    top:-505px;
    margin-left: -666px;
    z-index: 1;
}

#DateDay{
    position: inherit;
    top: 549px;
    left: 681px;
    width: 151px;
    height: 23px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 18px/23px Futura PT;
    letter-spacing: 0px;
    color:#FFFFFF;
    opacity: 1;
    z-index: 1;
    background:transparent;
    border:none;
}
#InsiderColorDay{
    position:relative;
    top:540px;
    left: 661px;
    width: 95%;
    height: 60px;
    background: var(--unnamed-color-54b3a1) 0% 0% no-repeat padding-box;
    background: #54B3A1 0% 0% no-repeat padding-box;
    background: linear-gradient(#54b3a1, #54b3a1);
    opacity: 1;
    margin-top: -1586px;
    margin-left: -652px;
    z-index: 0; 
}

/* #MonthBox
{
    position: relative;
    top: 506px;
    left: 867px;
    width: 186px;
    height: 94px;
    opacity: 1;
    border: 1px solid white;
    margin-top: -95px;
}

#YearBox{
    position: relative;
    top: 506px;
    left: 1083px;
    width: 186px;
    height: 94px;
    margin-top: -95px;
} */


